@{
    ViewData["Title"] = "NotesWebApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first Web Application with ASP.Net Core MVC.</p>
    <p>It is a notes application with all CRUD Operations and a SQL-Database.</p>
    <p>The styling is made with Bootstrap 4.</p>
</div>
