@model NotesWebApp.Models.Note

<h1>Create a Note</h1>

<fieldset>

    <form asp-action="Create" asp-controller="Notes">
        <p>
            <label asp-for="Subject">Subject:</label>
            <input asp-for="Subject" class="form-control" placeholder="Subject" />
        </p>
        <p>
            <label asp-for="Notice">Notice:</label>
            <textarea asp-for="Notice" class="form-control" placeholder="Notice"></textarea>
        </p>
        <p>
            <button type="submit" class="btn btn-dark ml-1 rounded">Create</button>
        </p>
    </form>

</fieldset>
