@model IEnumerable<NotesWebApp.Models.Note>
@{
    ViewData["Title"] = "NotesWebApp";
}

<div>
    @foreach (var note in Model)
    {
        @await Html.PartialAsync("_Note", note)
    }
    <a style="float: right;" href="/notes/create" class="btn btn-primary rounded-circle"><strong>+</strong></a>
</div>