@model NotesWebApp.Models.Note

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
</head>
<body>
    <h1>One Note</h1>
    <div>
        <h1>@Model.Id</h1>
        <h1>@Model.Subject</h1>
        <h1>@Model.Notice</h1>
        <h1>@Model.Posted</h1>
    </div>
</body>
</html>